
.editor-container {
  display: flex;
  flex-direction: column;
  width: 99%; 
  height: 99vh;  
  padding: 1rem; 
  box-sizing: border-box;
}

.editor-wrapper {
  width: 100%;
  overflow-x: auto;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.editor-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2d2d2d;
  color: #f1f1f1;
  font-family: monospace;
  border: 1px solid #444;
}

.editor-header {
  background-color: #3c3c3c;
  border-bottom: 1px solid #555;
  padding: 0.75rem;
  text-align: left;
}

.editor-cell {
  border-bottom: 1px solid #444;
  padding: 0.75rem;
}

.editor-timer {
  color: white;
  font-size: 1.1rem;
  word-spacing: 0.15rem;
  padding: 0.5rem 0.75rem;
  background-color: #272822;
  border-radius: 0.5rem;
}

.editor-CodeEditor {
  background-color: #272822;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  border-radius: 0.5rem;
  max-width: 50vw;
  margin: 0 auto;
}

.editor-submit-button {
  background-color: var(--codeEditor-button-color);
  width: auto;  
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

.editor-submit-button:hover {
  background-color: var(--codeEditor-button-color);
}

.editor-select {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #ddd;
  margin-bottom: 0.75rem;
  cursor: pointer;
}

.editor-button {
  padding: 0.6rem 1.25rem;
  font-size: 1rem;
  background-color: #3d3c3c;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.editor-button:hover {
  background-color: #3d3c3c;
}

.editor-button:disabled {
  background-color: #4e4d4d;
  cursor: not-allowed;
}

.editor-pre {
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 0.3rem;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.25rem;
  color: #333;
}

.editor-CodeEditor .editor-select,
.editor-CodeEditor .editor-button {
  display: inline-block;
  margin-right: 0.75rem;
}

.editor-CodeEditor .editor-editor-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.editor-CodeEditor .editor-output-container {
  margin-top: 1.25rem;
}

.editor-problem-sidebar {
  flex: 1;
  min-width: 45%;
  max-width: 50%;
  background-color: #343434;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  overflow-y: auto;
}

.editor-problem-sidebar::-webkit-scrollbar,
.editor-editor-sidebar::-webkit-scrollbar,
.editor-code-compiler::-webkit-scrollbar,
.editor-testcase-sidebar::-webkit-scrollbar {
  display: none;
}

.editor-editor-sidebar {
  display: flex;
  flex-direction: column; 
  background-color: #343434;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  overflow: auto;
}

.editor-testcase-sidebar {         
  background-color: #343434;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  overflow-y: auto;   
}

.editor-intuition-sidebar {
  background-color: #343434;
  padding: 1rem;
  min-width: 12rem;
  border-radius: 1rem;
  color: white;
  overflow-y: auto;
}

.editor-inputFieldText {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid #888;
  background: #2c2c2c;
  width: 100%;
  color: white;
  font-size: 0.95rem;
  box-sizing: border-box;
}

.editor-resizer-horizontal {
  width: 0.3rem;
  cursor: col-resize;
  background-color: #ccc;
  transition: background-color 0.2s;
}

.editor-resizer-horizontal:hover {
  background-color: #999;
}

.editor-main {
  flex: 1;
  background-color: #eaf2ff;
  padding: 1rem;
  overflow: auto;
}

.editor-textarea {
  width: 100%;
  height: 12rem;
  resize: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.editor-problem-toggle-icon {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  top: 1.25rem;
  right: 5rem;
  padding: 0.75rem;
}

.editor-problem-list-icon {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  opacity: 0.6;
  cursor: pointer;
  display: flex;
  gap: 0.75rem;
}

.editor-problem-list-icon:hover {
  transform: scale(1.1);
  opacity: 1 !important;
}

.editor-problem-items-visible {
  position: absolute;
  width: 20rem;
  background-color: #474747;
  border-radius: 0.4rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0.75rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.editor-problem-list-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.editor-problem-items {
  flex: 1;
  overflow-y: auto;
}

.editor-problem-item,
.editor-problem-item-active {
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.editor-problem-item:hover {
  background-color: #3e3e3e;
}

.editor-problem-item-active {
  background-color: #333333;
}

:global(.cm-editor) {
  background-color: transparent !important;
  color: white !important;
  font-size: 0.95rem;
}

:global(.cm-content .cm-line span) {
  color: white !important;
}

:global(.cm-gutters) {
  background-color: #343434 !important;
}

:global(.cm-gutterElement) {
  background-color: #343434 !important;
  color: white !important;
}

:global(.cm-activeLine) {
  background-color: transparent !important;
}

:global(.cm-activeLineGutter) {
  background-color: transparent !important;
}

:global(.cm-cursor) {
  border-left: 1px solid #a9a8a8 !important;
}

@media (max-width: 1024px) {
  .editor-container {
    flex-direction: column;
    height: auto;
  }

  .editor-problem-sidebar,
  .editor-editor-sidebar {
    min-width: 100%;
    max-width: 100%;
  }

  .editor-testcase-sidebar {
    max-height: auto;
  }
}

.cm-editor {
  height: calc(40vh);
  min-height: 200px;
  max-height: 60vh;
}
