:root,body,#root{
  background: linear-gradient(109.6deg, black 11.2%, #343434 51.2%, black 98.6%) !important;
  --secondary-background-color: #343434;
  --footer-background-color: #1a1d20;
  --button-color: #1DACD6;
  --h2-after-effect-color: #1DACD6;
  --typewriter-color: #1DACD6;
  --text-primary-color: white;
  --login-user-greeting-color: #1DACD6;
  --progress-completed-color: #1DACD6;
  --codeEditor-button-color: #4e4e4e;
  --codeEditor-intuition-button-color:#1DACD6;
}


html,
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: var(--text-primary-color);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--text-primary-color);
  text-decoration: none;
  transition: color var(--transition);
}

a:hover {
  color: var(--button-color) !important;
}


